/* line 37, style1.scss */
.loader {
  height: 83px;
  width: 83px;
  position: relative;
}
/* line 42, style1.scss */
.loader:after {
  background: transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 3px;
  width: 3px;
  position: absolute;
  top: 40px;
  left: 40px;
  box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  -webkit-animation: shadow 1s infinite linear;
  animation: shadow 1s infinite linear;
}

@-webkit-keyframes shadow {
  /* line 31, style1.scss */
  0% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  12.5% {
    box-shadow: 40px 0px 0 12px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px 40px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), -40px 0.0px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px -40px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  25% {
    box-shadow: 40px 0px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px 40px 0 3px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), -40px 0.0px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px -40px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  37.5% {
    box-shadow: 40px 0px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px 40px 0 12px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), -40px 0.0px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px -40px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  50% {
    box-shadow: 40px 0px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px 40px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), -40px 0.0px 0 3px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px -40px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  62.5% {
    box-shadow: 40px 0px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px 40px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), -40px 0.0px 0 12px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px -40px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  75% {
    box-shadow: 40px 0px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px 40px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), -40px 0.0px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px -40px 0 3px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  87.5% {
    box-shadow: 40px 0px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px 40px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), -40px 0.0px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px -40px 0 12px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  100% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }
}

@-moz-keyframes shadow {
  /* line 31, style1.scss */
  0% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  12.5% {
    box-shadow: 40px 0px 0 12px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px 40px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), -40px 0.0px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px -40px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  25% {
    box-shadow: 40px 0px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px 40px 0 3px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), -40px 0.0px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px -40px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  37.5% {
    box-shadow: 40px 0px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px 40px 0 12px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), -40px 0.0px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px -40px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  50% {
    box-shadow: 40px 0px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px 40px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), -40px 0.0px 0 3px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px -40px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  62.5% {
    box-shadow: 40px 0px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px 40px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), -40px 0.0px 0 12px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px -40px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  75% {
    box-shadow: 40px 0px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px 40px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), -40px 0.0px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px -40px 0 3px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  87.5% {
    box-shadow: 40px 0px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px 40px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), -40px 0.0px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px -40px 0 12px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  100% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }
}

@-o-keyframes shadow {
  /* line 31, style1.scss */
  0% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  12.5% {
    box-shadow: 40px 0px 0 12px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px 40px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), -40px 0.0px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px -40px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  25% {
    box-shadow: 40px 0px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px 40px 0 3px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), -40px 0.0px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px -40px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  37.5% {
    box-shadow: 40px 0px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px 40px 0 12px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), -40px 0.0px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px -40px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  50% {
    box-shadow: 40px 0px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px 40px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), -40px 0.0px 0 3px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px -40px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  62.5% {
    box-shadow: 40px 0px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px 40px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), -40px 0.0px 0 12px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px -40px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  75% {
    box-shadow: 40px 0px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px 40px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), -40px 0.0px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px -40px 0 3px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  87.5% {
    box-shadow: 40px 0px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px 40px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), -40px 0.0px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px -40px 0 12px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  100% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }
}

@keyframes shadow {
  /* line 31, style1.scss */
  0% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  12.5% {
    box-shadow: 40px 0px 0 12px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px 40px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), -40px 0.0px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px -40px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  25% {
    box-shadow: 40px 0px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px 40px 0 3px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), -40px 0.0px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px -40px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  37.5% {
    box-shadow: 40px 0px 0 9.42857px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px 40px 0 12px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 3px rgba(0, 0, 0, 0.5), -40px 0.0px 0 4.28571px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px -40px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 8.14286px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  50% {
    box-shadow: 40px 0px 0 8.14286px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px 40px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 12px rgba(0, 0, 0, 0.5), -40px 0.0px 0 3px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px -40px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 6.85714px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  62.5% {
    box-shadow: 40px 0px 0 6.85714px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), 0.0px 40px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), -40px 0.0px 0 12px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5), 0.0px -40px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 5.57143px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  75% {
    box-shadow: 40px 0px 0 5.57143px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), 0.0px 40px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), -40px 0.0px 0 10.71429px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5), 0.0px -40px 0 3px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 4.28571px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  87.5% {
    box-shadow: 40px 0px 0 4.28571px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 5.57143px rgba(0, 0, 0, 0.5), 0.0px 40px 0 6.85714px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 8.14286px rgba(0, 0, 0, 0.5), -40px 0.0px 0 9.42857px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 10.71429px rgba(0, 0, 0, 0.5), 0.0px -40px 0 12px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 3px rgba(0, 0, 0, 0.5);
  }

  /* line 31, style1.scss */
  100% {
    box-shadow: 40px 0px 0 3px rgba(0, 0, 0, 0.5), 28.28427px 28.28427px 0 4.28571px rgba(0, 0, 0, 0.5), 0.0px 40px 0 5.57143px rgba(0, 0, 0, 0.5), -28.28427px 28.28427px 0 6.85714px rgba(0, 0, 0, 0.5), -40px 0.0px 0 8.14286px rgba(0, 0, 0, 0.5), -28.28427px -28.28427px 0 9.42857px rgba(0, 0, 0, 0.5), 0.0px -40px 0 10.71429px rgba(0, 0, 0, 0.5), 28.28427px -28.28427px 0 12px rgba(0, 0, 0, 0.5);
  }
}
