$w: 10px;
$points: 20;
$ray: 100px;
$color1: #000;
$color2: #FFF;
$speed: 2s;

$angle: 360deg / $points;

@function shadow($sel: 0) {
	$shadow: ();
	@for $i from 0 through ($points - 1) {
		$x: ($ray) * cos($angle * $i);
		$y: ($ray) * sin($angle  * $i);
		$color: $color1;
		@if $sel == $i {
			$color: $color2;
		}
		$t: $x $y 0 $color;
		$shadow: append($shadow, $t, comma);
	}
	@return $shadow;
}

@mixin transform ($val, $list: (-webkit-, -moz-, -ms-, -o-, '')) {
	@each $prefix in $list {
		#{$prefix}transform: $val;
	}
}

@mixin animation2() {
	@for $i from 0 through $points {
		$time: 100% / $points * $i;
		#{$time} {
			box-shadow: shadow($i - 1);
		}
	}
}
@mixin animation($list) {
	0% {
		@include transform(rotate(0deg), $list);
	}
	100% {
		@include transform(rotate(360deg), $list);
	}
}

.loader {
	height: $ray * 2 + $w;
	width: $ray * 2 + $w;
	position: relative;
	
	&:after {
		background: transparent;
		border-radius: 100%;
		content: "";
		display: block;
		height: $w;
		width: $w;
		position: absolute;
		top: $ray ;
		left: $ray;

		box-shadow: shadow();
	-webkit-animation: shadow $speed steps($points) infinite;
	        animation: shadow $speed steps($points) infinite;
	}
}

@-webkit-keyframes shadow { @include animation('-webkit-'); }
   @-moz-keyframes shadow { @include animation('-moz-'); }
     @-o-keyframes shadow { @include animation('-o-'); }
        @keyframes shadow { @include animation(''); }